- if user_signed_in?
  %nav.navbar.navbar-expand.navbar-dark
    .navbar-brand
      = link_to root_path do
        = image_pack_tag 'rogo.png', height: 30
    %ul.navbar-nav.ml-auto
      - if current_user.admin
        %li{ class:  "#{'active' if controller.controller_name.include?('admin')}"}
          = link_to t('.admin'), admin_index_path, class: 'nav-link'
      %li{ class:  "#{'active' if controller.controller_name == 'notes'}"}
        = link_to t('.notes'), notes_path, class: 'nav-link'
      %li{ class:  "#{'active' if controller.controller_name == 'my_lists'}"}
        = link_to t('.my_lists'), my_lists_path, class: 'nav-link'
      %li{ class:  "#{'active' if controller.controller_name == 'users'}"}
        = link_to t('.mypage'), user_path(current_user.nickname), class: 'nav-link'
      %li
        = link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'nav-link'
