- if user_signed_in?
  %nav.navbar.navbar-expand.navbar-dark
    .navbar-brand
      = link_to root_path do
        = image_pack_tag 'rogo.png', height: 30
    %ul.navbar-nav.ml-auto
      - if current_user.admin
        %li{ class:  "#{'active' if controller.controller_name.include?('admin')}"}
          = link_to t('.admin'), admin_index_path, class: 'nav-link'
      %li{ class:  "#{'active' if controller.controller_name == 'notes'}"}
        = link_to t('.notes'), notes_path, class: 'nav-link'
      %li{ class:  "#{'active' if controller.controller_name == 'my_lists'}"}
        = link_to t('.my_lists'), my_lists_path, class: 'nav-link'
    - if current_user.image.attached?
      .navbar__icon-image#navbar_user{ onclick: 'toggleUserList()', style: "background-image: url(#{rails_blob_path(current_user.image)})" }
    - else
      .navbar__icon-image#navbar_user{ onclick: 'toggleUserList()' }
    .navbar__user-pull-list#navbar_user_pull_list{ data: { open: "false" }}
      = link_to t('.mypage'), user_path(nickname: current_user.nickname), class: 'navbar__user-pull-item'
      = link_to t('.downloads'), client_downloads_path, class: 'navbar__user-pull-item'
      -# .navbar__user-pull-item
      -#   後で見る(仮)
      = link_to t('.setting'), edit_user_registration_path, class: 'navbar__user-pull-item'
      = link_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'navbar__user-pull-item'
