.row.m-0.p-0
  .left.col-2
    .left__content
      .left__header
        .left__label
          = t '.my_lists'
      = link_to t('.new'), top_index_path(select: 'new_my_listss'), class: "left__link #{"#{@title}_#{@partial_name}" == 'new_my_lists' ? 'left__link--enable' : 'left__link--disable'}"
      = link_to t('.trend'), top_index_path(select: 'trend_my_lists'), class: "left__link #{"#{@title}_#{@partial_name}" == 'trend_my_lists' ? 'left__link--enable' : 'left__link--disable'}"
      .left__header.mt-2
        .left__label
          = t '.notes'
      = link_to t('.new'), top_index_path(select: 'new_notes'), class: "left__link #{"#{@title}_#{@partial_name}" == 'new_notes' ? 'left__link--enable' : 'left__link--disable'}"
      = link_to t('.trend'), top_index_path(select: 'trend_notes'), class: "left__link #{"#{@title}_#{@partial_name}" == 'trend_notes' ? 'left__link--enable' : 'left__link--disable'}"
  .main.col-8
    .top
      - if @partial_name == 'my_lists'
        = render partial: "/top/shared/#{@partial_name}", locals: { my_lists: @my_lists, title: t(".#{@title}")}
      - else
        = render partial: "/top/shared/#{@partial_name}", locals: { notes: @notes, title: t(".#{@title}")}
  .right.col-2
#new_my_list_form
