.row.m-0.p-0
  .left.col-2
    .left__content
      .left__header
  .main.col-8.overflow-auto
    .single_container
      %h1
        新着
      %hr.notes__hr--top
      - @new_notes.each do |note|
        .notes__note
          .notes__note-main
            = link_to new_my_list_path(note_id: note.id), class: "notes__add-my-list", remote: true do
              = image_pack_tag 'book_icon_plus.png'
            .notes__note-title
            = link_to note.title, note_path(note), class: 'notes__note-link'
          .notes__note-sub
            .notes__note-user
              = "#{t('general.by')} #{note.user.nickname}"
            .notes__note-category
              = "#{note.category.name}"
          .notes__note-tags
          - note.tags.each do |tag|
            .notes__note-tag
              = tag.name
  .right.col-2
#new_my_list_form