.row.m-0.p-0
  .left.col-2
    .left__content
      .left__header
        .left__label
          = t '.search_filter'
      .left__form
        = form_with(model: @notes, url: notes_path, local: true) do |f|
          .left__label
            = f.label :category_id, Category.model_name.human
          .left__select
            = f.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択して下さい', selected: params[:category]}, { onchange: "onChange(this.value);", class: 'form-control left__pull-list'}
      .left__form
        .left__label
          = 'タグ'
        .left__tags
          .tag-search
            %form.tag-search__form{ onsubmit: 'addSearchTag(event)' }
              %input.tag-search__input{ type: 'text', wrap: 'soft' }
            .tag-search__tags.overflow-auto#search_tags
      .left__form
        = form_with(model: @notes, url: notes_path, local: true) do |f|
          .left__label
            = f.label :order, t('.order')
          .left__select
            = f.select :order,[[t('.update_desc'), "update_desc"], [t('.update_asc'), "update_asc"], [t('.create_desc'), "create_desc"], [t('.create_asc'), "create_asc"]], {selected: params[:order]},{ onchange: "setSortParams(this.value);", class: 'form-control left__pull-list'}
  .main.col-8.overflow-auto
    .search
      %form.search__container{ onsubmit: 'setSearchParams(event);' }
        %input#search_field{ type: 'text',  value: params[:q], place_holder: 'キーワード検索', class: "search__text-field"}
        %input.search__icon{ type: 'submit', value: "\uF002"}
    .list-header
      .list-header__content--active
        = link_to notes_path, class: "list-header__link" do
          %span.list-header__link-text--active
            = t '.notes'
      .list-header__content
        = link_to my_lists_path, class: "list-header__link" do
          %span.list-header__link-text
            = t '.my_lists'
    .notes#notes
      = render partial: 'note_index', locals: { notes: @notes }

    .d-flex.justify-content-center.mb-2
      != pagy_bootstrap_nav(@pagy)


  .right.col-2
#new_my_list_form
