%h1
  ノート一覧表示

%table.table.text-nowrap
  %thead.thead-light
    %tr
      %th
        タイトル　
        ユーザー名
      %th
  %tbody
    - @notes.each do |note|
      %tr
        %td
          = note.title
          = note.user.nickname
          

= form_with(model: @notes, url: notes_path, local: true) do |f|
  = f.label :"カテゴリー"
  = f.collection_select :category_id, Category.all, :id, :name, {include_blank: value}, {onchange: "onChange(this.value);"}

