.row.m-0.p-0
  .note.col-9
    .note__main
      .note__title
        = @note.title
      .note__user-image
        - if @note.user.image.attached?
          .note__user-image-icon{ style: "background-image: url(#{rails_blob_path(@note.user.image)})" }
        - else
          .note__user-image-icon
      .note__info
        .note__info-row-1
          .note__user
            = "#{t('general.by')} #{@note.user.nickname}"
          .note__updated_date
            = l @note.updated_at, format: :updated_at
        .note__info-row-2
          .note__category
            .note__category-name
              = @note.category.name
          = link_to new_my_list_path(note_id: @note.id), class: "note__add-my-list", remote: true do
            = image_pack_tag 'book_icon_plus.png'
        .note__info-row-3
          .note__tags
            - @note.tags.each do |tag|
              .note__tag
                = tag.name
      %hr
      .note__body
        #markdown_raw.note__body-raw
          = @note.body
        #markdown_render
    .note__related-notes
      .note__related-notes-title
        = t ".related_notes_title"
      .note__related-notes-flex
        - @related_notes.each do |note|
          = link_to note_path(note), class: 'note__related-note' do
            .note__related-note-title
              = note.title
            .note__related-note-category
              = note.category.name
            .note__related-note-user
              = note.user.nickname
            .note__related-note-tags
              - note.tags.each do |tag|
                .note__related-note-tag
                  = tag.name
            .note__related-note-body
              = note.body[0..20]

  - if params[:my_list_id].present?
    .note-my-list.col-3
      .note-my-list__main
        .note-my-list__header
          .note-my-list__header-title
            = @my_list_notes[0].my_list.title
          .note-my-list__move-button
            - @my_list_notes.each do |m|
              - if params[:index].to_i > 0 and params[:index].to_i - 1 == m.index
                .note-my-list__header-button.note-my-list__header-prev{href: '', onclick: "changePage(#{m.note_id},#{m.my_list_id},#{m.index})"}
                  = t '.prev'
              - if @my_list_notes.find_by(index: params[:index].to_i + 1).present? and params[:index].to_i + 1 == m.index
                .note-my-list__header-button.note-my-list__header-next{href: '', onclick: "changePage(#{m.note_id},#{m.my_list_id},#{m.index})"}
                  = t '.next'
        .note-my-list__body
          - @my_list_notes.each do |m|
            .note-my-list__note{href: '', onclick: "changePage(#{m.note_id},#{m.my_list_id},#{m.index})", class: "#{m.note_id == @note.id ? 'note-my-list__note--active' : ''}"}
              .note-my-list__note-index
                = m.index + 1
              .note-my-list__note-title
                = m.note.title
#new_my_list_form
