= @note.title
%br
= @note.text
%br

- if params[:my_list_id].present?
  - @my_list_notes.each do |m|
    %button{type: "button", class:'btn', onclick: "changePage(#{m.note_id},#{m.my_list_id},#{m.index})"}
      = m.note.title
    %br

  - @my_list_notes.each do |m|
    - if params[:index].to_i > 0 and params[:index].to_i - 1 == m.index
      %button{type: "button", class:'btn', onclick: "changePage(#{m.note_id},#{m.my_list_id},#{m.index})"}
        before

    - if @my_list_notes.find_by(index: params[:index].to_i + 1).present? and params[:index].to_i + 1 == m.index
      %button{type: "button", class:'btn', onclick: "changePage(#{m.note_id},#{m.my_list_id},#{m.index})"}
        next