.user.row
  .col-2
  .user__left-box.col-2
    .user__name
      = @user.nickname
    .user__profile
      = link_to "プロフィール編集", edit_user_path, class: "btn btn-success"
  .user__main-box.col-7
    .user__header
      .user__header-box.mr-2
        = link_to user_notes_path(user_nickname: current_user.nickname), class: "" do
          .user__header-link
            = t '.notes'
      .user__header-box
        = link_to user_my_lists_path(user_nickname: current_user.nickname), class: "" do
          .user__header-link
            = t '.my_lists'
    .user__body
  .col-1
