.row.m-0.p-0
  .left.col-2
    .left__content
      .left__header
        .left__label
          = t '.search_filter'
      .left__form
        = form_with(model: @notes, url: notes_path, local: true) do |f|
          .left__label
            = f.label :category_id, Category.model_name.human
          .left__select
            = f.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択して下さい', selected: params[:category]}, { onchange: "onChange(this.value);", class: 'form-control left__pull-list'}
          .left__label
            = f.label :order, t('.order')
          .left__select
            = f.select :order,[[t('.update_desc'), "update_desc"], [t('.update_asc'), "update_asc"], [t('.create_desc'), "create_desc"], [t('.create_asc'), "create_asc"], [t('.name_desc'), "name_desc"], [t('.name_asc'), "name_asc"]], {selected: params[:order]},{ onchange: "setSortParams(this.value);", class: 'form-control left__pull-list'}
          .left__label
            = t '.option'
          .left__option-check
            = f.label :user, t('.only_user_mylist'), class: 'left__option-check-label'
            = f.check_box :user, { checked: params[:user] == 'true', class: 'left__option-check-box', onclick: "setUserMyListParams(event)"}, true, false
  .main.col-8
    .search
      %form.search__container{ onsubmit: 'setSearchParams(event);' }
        %input#search_field{ type: 'text',  value: params[:q], place_holder: 'キーワード検索', class: "search__text-field"}
        %input.search__icon{ type: 'submit', value: "\uF002"}
    .list-header
      .list-header__content
        = link_to user_notes_path, class: "list-header__link" do
          %span.list-header__link-text
            = t '.notes'
      .list-header__content--active
        = link_to user_my_lists_path, class: "list-header__link" do
          %span.list-header__link-text--active
            = t '.my_lists'

    .my-lists
      %hr.my-lists__hr--top
      - if @my_lists.present?
        - @my_lists.each do |my_list|
          .my-lists__my-list
            .my-lists__my-list-user-image
              - if my_list.user.image.attached?
                .my-lists__my-list-user-image-icon{ style: "background-image: url(#{rails_blob_path(my_list.user.image)})" }
              - else
                .my-lists__my-list-user-image-icon
            - if my_list.user_id == current_user.id
              = link_to my_list_path(my_list.id, query_params.merge(redirect_to_user_my_lists: 'true')), method: :delete, data: {confirm: t('.confirm')}, class: "my-lists__my-list-delete-button" do
                = image_pack_tag 'trust.png'
            - else
              .subscribe
                .subscribe__button{ class: "#{@user_subscribe_my_list_ids.include?(my_list.id) ? 'subscribe__destroy' : 'subscribe__create'}", data: { isCreate: "#{@user_subscribe_my_list_ids.include?(my_list.id) ? 'false' : 'true'}" }, onclick: "subscribeMyList(event, '#{current_user.nickname}', #{my_list.id})" }
            .my-lists__my-list-info{ class: "#{'my-lists__my-list-no-description' if my_list.description.blank? }"}
              .my-lists__my-list-main
                .my-lists__my-list-title
                  = link_to my_list.title, my_list_path(my_list, redirect_to_user_my_lists: 'true'), class: "my-lists__my-list-link"
              .my-lists__my-list-sub
                .my-lists__my-list-category
                  = my_list.category.name
                .my-lists__my-list-user
                  = "#{t('general.by')} #{my_list.user.nickname}"
              .my-lists__my-list-description
                - if my_list.try(:high_light_description) && my_list.high_light_description[0].present?
                  = raw my_list.high_light_description[0]
                - else
                  = my_list&.description ? my_list.description[0..100] : ""
      - else
        .h3.pb-3.ml-2
          = t 'empty.my_list'
    .d-flex.justify-content-center.mb-2
      != pagy_bootstrap_nav(@pagy)
.right.col-2


