.row.m-0.p-0
  .left.col-2
    .left__content
      .left__header
        .left__label
          = t '.search_filter'
      .left__form
        = form_with(model: @notes, url: notes_path, local: true) do |f|
          .left__label
            = f.label :category_id, t('.category')
          .left__select
            = f.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択して下さい', selected: params[:category]}, { onchange: "onChange(this.value);", class: 'form-control left-pull-list'}
          .left__label
            = f.label :order, "並び替え"
          .left__select
            = f.select :order,[["更新時間", "update"], ["作成時間", "create"], ["名前", "name"]], {selected: params[:order]},{ onchange: "setSortParams(this.value);", class: 'form-control left-pull-list'}
  .main.col-8
    .list-header
      .list-header__content
        = link_to user_notes_path, class: "list-header__link" do
          %span.list-header__link-text
            = t '.notes'
      .list-header__content--active
        = link_to user_my_lists_path, class: "list-header__link" do
          %span.list-header__link-text--active
            = t '.my_lists'

    .my-lists
      %hr.my-lists__hr--top
      - if @my_lists.empty?
        = t '.empty'
      - else
        - @my_lists.each do |my_list|
          .my-lists__my-list
            .my-lists__my-list-user-image
              - if my_list.user.image.attached?
                .my-lists__my-list-user-image-icon{ style: "background-image: url(#{rails_blob_path(my_list.user.image)})" }
              - else
                .my-lists__my-list-user-image-icon
            .my-lists__my-list-main
              = link_to my_list_path(my_list.id), method: :delete, data: {confirm: t('.confirm')}, class: "my-lists__my-list-delete-button" do
                = image_pack_tag 'trust.png'
              .my-lists__my-list-title
                = link_to my_list.title, my_list_path(my_list), class: "my-lists__my-list-link"
              .my-lists__my-list-description
                = my_list.description
            .my-lists__my-list-sub
              .my-lists__my-list-category
                = my_list.category.name
              .my-lists__my-list-user
                = "#{t('general.by')} #{my_list.user.nickname}"
.right.col-2


