
- if my_list.user_id == current_user.id
  = link_to my_list_path(my_list.id, redirect_to_user_my_lists: params[:redirect_to_user_my_lists]), method: :delete, data: {confirm: t('.confirm')}, class: 'my-list__header-destroy-button' do
    = image_pack_tag 'trust.png'
  = link_to edit_my_list_path, remote: true, class: "my-list__header-edit-button" do
    = image_pack_tag 'edit_icon.png'
- else
  .subscribe
    - is_my_list_subscribe = my_list.user_subscribe?(current_user.id)
    .subscribe__button{ class: "#{is_my_list_subscribe ? 'subscribe__destroy' : 'subscribe__create'}", data: { isCreate: "#{is_my_list_subscribe ? 'false' : 'true'}" }, onclick: "subscribeMyList(event, '#{current_user.nickname}', #{my_list.id})" }
.my-list__header-main
  .my-list__header-title
    .my-list__header-title-text
      = my_list.title
  .my-list__header-user-image
    - if my_list.user.image.attached?
      .my-list__header-user-image-icon{ style: "background-image: url(#{rails_blob_path(my_list.user.image)})" }
    - else
      .my-list__header-user-image-icon
  .my-list__header-info
    .my-list__header-description
      = simple_format(h my_list.description)
    .my-list__header-category
      = my_list.category.name
    .my-list__header-user
      = "#{t('general.by')} #{my_list.user.nickname}"
    .my-list__header-updated-date
      = l my_list.updated_at, format: :updated_at

