.single-container
  %h1
    = t '.title'

  = form_with(model: @note, url: admin_note_path, local: true) do |f|
    - if f.object.errors.any?
      .alert-warning
        %ul
          - f.object.errors.full_messages.each do |message|
            %li
              = message
    .form-group
      = f.label :title
      = f.text_field :title, required: true, class: 'form-control'
    .form-group
      = f.collection_select :category_id, Category.all, :id, :name, {},{ class: "form-control" }
    .form-group
      = f.collection_select :user_id, User.all, :id, :nickname, {},{ class: "form-control" }
    .form-group
      = f.label :directory_path
      = f.text_field :directory_path, class: 'form-control'
    .form-group
      = f.label :body
      = f.text_area :body, required: true, class: 'form-control', rows: 10
    .form-group
      = f.submit nil, class: 'btn btn-success'
