.row.m-0.p-0
  .left.col-3
    .left__header
      .left__label
        = t '.directory'
    .directory-tree
      = directory_tree(@directory_tree)
    .left__header
      .left__label
        = t '.search_filter'
    .left__form
      = form_with(model: @notes, url: notes_path, local: true) do |f|
        .left__label
          = f.label :category_id, t('.category')
        .left__select
          = f.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択して下さい', selected: params[:category]}, { onchange: "onChange(this.value);", class: 'form-control left-pull-list'}
  .main.col-8
    .list-header
      .list-header__content--active
        = link_to user_notes_path, class: "list-header__link" do
          %span.list-header__link-text--active
            = t '.notes'
      .list-header__content
        = link_to user_my_lists_path, class: "list-header__link" do
          %span.list-header__link-text
            = t '.my_lists'

    .notes#notes
      = render partial: 'note_index', locals: { notes: @notes }
  .right.col-1
#new_my_list_form
