.row.m-0.p-0
  .left.col-2
    .left__content
      .left__header
        .left__label
          = t '.directory'
      .directory-tree
        = directory_tree(@directory_tree)
      .left__header
        .left__label
          = t '.search_filter'
      .left__form
        = form_with(model: @notes, url: notes_path, local: true) do |f|
          .left__label
            = f.label :category_id, Category.model_name.human
          .left__select
            = f.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択して下さい', selected: params[:category]}, { onchange: "setCategoryParamsAjax(this.value);", class: 'form-control left__pull-list'}
          .left__label
            = f.label :order, t('.order')
          .left__select
            = f.select :order,[[t('.update_desc'), "update_desc"], [t('.update_asc'), "update_asc"], [t('.create_desc'), "create_desc"], [t('.create_asc'), "create_asc"], [t('.name_desc'), "name_desc"], [t('.name_asc'), "name_asc"]], {selected: params[:order]},{ onchange: "setSortParamsAjax(this.value);", class: 'form-control left__pull-list'}
  .main.col-8
    .search
      %form.search__container{ onsubmit: 'setSearchParamsAjax(event);' }
        %input#search_field{ type: 'text',  value: params[:q], place_holder: 'キーワード検索', class: "search__text-field"}
        %input.search__icon{ type: 'submit', value: "\uF002"}
    .list-header
      .list-header__content--active
        = link_to user_notes_path, class: "list-header__link" do
          %span.list-header__link-text--active
            = t '.notes'
      .list-header__content
        = link_to user_my_lists_path, class: "list-header__link" do
          %span.list-header__link-text
            = t '.my_lists'

    .notes.user-notes#notes
      = render partial: 'note_index', locals: { notes: @notes, pagy: @pagy }
  .right.col-2
#new_my_list_form
