!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    .header
      = render partial: 'navbar/navbar'
      .flash
        - flash.each do |key, value|
          - key = "info" if key == "notice"
          - key = "danger"  if key == "alert"
          = content_tag :div, value, class: "alert alert-#{key}"
    .container
      = yield
