!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StudyBook
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    %link{ href: "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet" }
    = favicon_pack_tag 'favicon.png'
  %body
    %header.header
      = render partial: 'navbar/navbar'
      #flash
        = render partial: 'shared/flash_message'
    %main
      = yield
    %footer
      = render partial: 'shared/footer'
